Checks: '-*,bugprone-*,cert-*,clang-*analyzer-*,concurrency-*,misc-*,modernize-*,performance-*,portability-*,-clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling'
CheckOptions:
  # Exclude from scanning as this is an exported symbol used for fuzzing
  # throughout the code base.
  - key:             readability-identifier-naming.FunctionIgnoredRegexp
    value:           "LLVMFuzzerTestOneInput"
