---
BasedOnStyle: LLVM

AccessModifierOffset: -4
AlignConsecutiveMacros: true
AlwaysBreakTemplateDeclarations: true
AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
IndentWidth: 4
PointerAlignment: Left
SortIncludes: false
StatementMacros:
ForEachMacros:
  - foreach
...
